<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Shift Rota{% endblock %}</title>
    <!-- Link to external stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <!-- Include jQuery and DataTables CSS and JS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="nav center">
      <a href="{{ url_for('index') }}">Weekly Shifts</a> |
      <a href="{{ url_for('staff_view') }}">Staff Summary</a> |
      <a href="{{ url_for('individual_shifts_view') }}">Individual Shifts</a> |
      <a href="{{ url_for('calendar_view') }}">Weekly Calendar</a> |
      <a href="{{ url_for('staff_list_view') }}">Staff List</a> |
      <a href="{{ url_for('patterns_combined_view') }}">Patterns Combined</a> |
      <a href="{{ url_for('patterns_combined_with_regions_view') }}"
        >Patterns with Regions</a
      >
      <li>
        <a href="{{ url_for('patterns_by_day_view') }}">Patterns by Day</a>
      </li>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
