{% extends "base.html" %} {% block title %}Weekly Calendar{% endblock %} {%
block content %}
<h1>Weekly Calendar View</h1>

{% for week, week_data in calendar_data.items() %}
<h2>Week {{ week }}</h2>
<table class="dataTable">
  <thead>
    <tr>
      <th>Role / Day</th>
      {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
      'Saturday', 'Sunday'] %}
      <th>{{ day }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for role in ['Duty Manager', 'Tactical Lead'] %}
    <tr>
      <td>{{ role }}</td>
      {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
      'Saturday', 'Sunday'] %}
      <td>
        {% for staff in week_data[day][role] %} {{ staff['name'] }} ({{
        staff['region'] }})<br />
        {% else %} &nbsp; {% endfor %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %} {% endblock %}
