{% extends "base.html" %} {% block title %}Shift Schedule{% endblock %} {% block
content %}
<h1>Shift Schedule</h1>
<table class="dataTable">
  <thead>
    <tr>
      <th>Week</th>
      <th>Shift Time</th>
      <th>DM 1</th>
      <th>DM 2</th>
      <th>TL 1</th>
      <th>TL 2</th>
    </tr>
  </thead>
  <tbody>
    {% for week in assignments %} {% for shift_time, roles in
    week['Shifts'].items() %}
    <tr>
      <td>{{ week['Week'] }}</td>
      <td>{{ shift_time }}</td>
      {% for role in ['Duty Manager', 'Tactical Lead'] %} {% for i in
      range(shifts[shift_time][role]) %} {% if roles[role]|length > i %} {% set
      staff_member = roles[role][i] %}
      <td>{{ staff_member.name }} ({{ staff_member.region }})</td>
      {% else %}
      <td>-</td>
      {% endif %} {% endfor %} {% endfor %}
    </tr>
    {% endfor %} {% endfor %}
  </tbody>
</table>
{% endblock %}
