{% extends "base.html" %} {% block title %}Weekly Shifts{% endblock %} {% block
extra_head %}
<script>
  $(document).ready(function () {
    $("table.dataTable").DataTable({
      pageLength: -1,
      lengthMenu: [
        [-1, 10, 25, 50],
        ["All", 10, 25, 50],
      ],
    });
  });
</script>
{% endblock %} {% block content %}
<h1>52-Week Shift Rota</h1>
<table class="dataTable">
  <thead>
    <tr>
      <th>Week</th>
      <th>Day</th>
      <th>Role</th>
      <th>Shift Number</th>
      <th>Staff Assigned</th>
    </tr>
  </thead>
  <tbody>
    {% for week in assignments %} {% for day, roles in week['Shifts'].items() %}
    {% for role in roles %} {% for staff_member in staff_list %}
    <tr>
      <td>{{ week['Week'] }}</td>
      <td>{{ day }}</td>
      <td>{{ role }}</td>
      <td>{{ loop.index }}</td>
      <td>{{ staff_member.name if staff_member else 'Unassigned' }}</td>
    </tr>
    {% endfor %} {% endfor %} {% endfor %} {% endfor %}
  </tbody>
</table>
{% endblock %}
