{% extends "base.html" %} {% block title %}Staff Shift Summary{% endblock %} {%
block extra_head %}
<script>
  $(document).ready(function () {
    $("table.dataTable").DataTable({
      pageLength: -1,
      lengthMenu: [
        [-1, 10, 25, 50],
        ["All", 10, 25, 50],
      ],
    });
  });
</script>
{% endblock %} {% block content %}
<h1>Staff Shift Summary</h1>
<table class="dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th>Role</th>
      <th>FTE</th>
      <th>Expected Weekday Shifts</th>
      <th>Assigned Weekday Shifts</th>
      <th>Difference</th>
      <th>Expected Weekend Shifts</th>
      <th>Assigned Weekend Shifts</th>
      <th>Difference</th>
      <th>Total Expected Shifts</th>
      <th>Total Assigned Shifts</th>
      <th>Total Difference</th>
    </tr>
  </thead>
  <tbody>
    {% for s in staff %}
    <tr>
      <td>{{ s['name'] }}</td>
      <td>{{ s['region'] }}</td>
      <td>{{ s['role'] }}</td>
      <td>{{ s['fte'] }}</td>
      <td>{{ s['expected_shifts_weekday'] }}</td>
      <td>{{ s['assigned_shifts_weekday'] }}</td>
      <td>
        {% set diff_weekday = s['assigned_shifts_weekday'] -
        s['expected_shifts_weekday'] %}
        <span
          class="{% if diff_weekday < 0 %}negative{% elif diff_weekday > 0 %}positive{% endif %}"
        >
          {{ diff_weekday }}
        </span>
      </td>
      <td>{{ s['expected_shifts_weekend'] }}</td>
      <td>{{ s['assigned_shifts_weekend'] }}</td>
      <td>
        {% set diff_weekend = s['assigned_shifts_weekend'] -
        s['expected_shifts_weekend'] %}
        <span
          class="{% if diff_weekend < 0 %}negative{% elif diff_weekend > 0 %}positive{% endif %}"
        >
          {{ diff_weekend }}
        </span>
      </td>
      <td>{{ s['expected_shifts'] }}</td>
      <td>{{ s['assigned_shifts'] }}</td>
      <td>
        {% set total_diff = s['assigned_shifts'] - s['expected_shifts'] %}
        <span
          class="{% if total_diff < 0 %}negative{% elif total_diff > 0 %}positive{% endif %}"
        >
          {{ total_diff }}
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
